viewer/vendor/* linguist-vendored=true
viewer/headless_tests_index.html linguist-generated=true
*.min.js linguist-generated=true
*.min.css linguist-generated=true
*.min.html linguist-generated=true
viewer/tests/vendor/* linguist-vendored=true
