*.pyc
__pycache__/
metagenomescope/tests/output/
spqrtests/
testgraphs/
testdbs/
viewer/demotests/
node_modules/
.DS_STORE
.DS_Store
*.egg-info/
*.bak
.coverage
js_coverage.json
metagenomescope/tests/js_tests/instrumented_js/*
dist/
big-list-of-naughty-strings/
*.gv
*.xdot
*.db
mg2/
coverage/
