<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
        <meta name="description" content="Assembly graph visualization tool" />
        <title>MgSc</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='bubble.ico') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='viewer.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap-colorpicker.min.css') }}" />
    </head>
    <body>
        <!-- Invisible <a> used for downloading data URIs for various purposes
             (e.g. path exporting, color settings export). By adjusting the
             download parameter of this tag, we can provide the user with a
             suggested filename for the file to be downloaded (instead of just
             opening the data URI using window.open()).
        -->
        <a class="notviewable" id="downloadHelper"></a>
        <!-- Absolutely positioned tools -->
        <div id="controlsToggler">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>

        <!-- NOTE: For all Bootstrap buttons, we need to do two "layers"
             of disabling. Adding the disabled class to a button makes
             Bootstrap style the button to look disabled, but the button
             will still be usable. Adding the disabled="disabled" attribute
             makes the button actually disabled (i.e. not usable).
        
             To handle this properly, we use the enableButton and
             disableButton functions to ensure buttons are always properly
             disabled/enabled.
        -->
        <button
            class="btn btn-default btn-sm disabled drawCtrl"
            id="floatingExportButton"
            disabled="disabled"
        >
            <span class="glyphicon glyphicon-camera"></span>
        </button>

        <button
            class="btn btn-default btn-sm disabled drawCtrl"
            id="fitButton"
            disabled="disabled"
        >
            <span class="glyphicon glyphicon-resize-full"></span>
        </button>

        <button
            class="btn btn-default btn-sm disabled"
            id="fitSelectedButton"
            disabled="disabled"
        >
            <span class="glyphicon glyphicon-resize-small"></span>
        </button>

        <div id="controls">
            <p style="margin-top: 1em;">
                <button
                    class="btn btn-default btn-sm persistentCtrl"
                    id="loadButton"
                >
                    <span class="glyphicon glyphicon-folder-open"></span>
                    &nbsp; <span>Load Graph</span>
                </button>
                    <!-- automatically submit on file upload: https://stackoverflow.com/a/25893747 -->
                    <input type="file" id="graphFileSelector" style="display: none;" onchange="form.submit();" />
                    <input type="submit" style="display: none;" />
                </form>
            </p>
        </div>
        <!-- end controls div -->
        <!--container for Cytoscape.js-->
        <div id="cy" class="nosubsume"></div>
    </body>
    <script data-main="{{ url_for('static', filename='main') }}" src="{{ url_for('static', filename='vendor/js/require.js') }}"></script>
</html>
