html, body, #asmviz {
    height: 100%;
    width: 100%;
    margin: 0;
}
#controls {
    /* We avoid specifying a height so that this div takes up the minimum
     * height needed to store all its content
     */
    width: 20%;
    height: 100%;
    float: left;
    display: inline-block;
    font-size: 0.75em;
    background-color: #777;
    overflow-y: scroll;
    text-align: center;
}
#controls p { /* not the greatest solution. work on something better-looking */
    margin: 0.1em;
}
button {
    height: 2.3em;
}
#componentselector {
    width: 5em;
    height: 1.3em;
}
#cy {
    width: 80%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
#progressbar > .ui-progressbar-value {
    background: #0099ff;
}
.grayText {
    color: #999999;
}
.hiddenElement {
    display: none;
}
.centeredInDiv {
    margin: 0 auto;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    text-align: center;
    float: none;
}
